body {
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100vh;
}

.isi-pesan {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isi-pesan img {
  height: 30vh;
  border-radius: 20%;
  display: block;
}

#text11 img {
  height: 45vh;
  border-radius: 20%;
  display: block;
}

#text12 img {
  height: 45vh;
  border-radius: 20%;
  display: block;
}

#pertanyaanPertama, #pertanyaanKedua, #pertanyaanKetiga, #pertanyaanKeempat, #hadiahTerakhir, #isi-pesan {
  background-color: rgba(1, 1, 1, .8);
  width: 100vw;
  padding: 1.5em 1em;
}

.isi-pesan span {
  font-size: 1.5rem;
  color: white;
}

#pertanyaanKeempat label {
  font-size: 1.5rem;
  color: white;
}

#pertanyaanKeempat {
  display: none;
}

#hadiahTerakhir {
  display: none;
  overflow: hidden;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text9,
#text10,
#text11,
#text12,
#text13 {
  display: none;
  margin: auto;
}

.animation {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes scale {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#pertanyaanPertama {
  display: none;
}

#pertanyaanPertama h3 span {
  display: none;
}

.pertanyaan {
  animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

#pertanyaanKedua {
  display: none;
}

#pertanyaanKetiga {
  display: none;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  /* -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2; */
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
  /* -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2; */
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 390px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 1rem 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: rgba(234, 76, 137, 0.4);
  width: 1rem;
  height: 1rem;
}